<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<a class="brand" href="<%= root_url %>">NCKU Course</a>
				<li class="<%= 'active' if params[:controller] == 'course' %>"><%= link_to "課程", :root %> </li>
				<li class="<%= 'active' if params[:controller] == 'exps' %>"><%= link_to "心得", :exps %> </li>
				<li class="<%= 'active' if params[:controller] == 'about' %>"><%= link_to "介紹", :about %> </li>
				<li><%= link_to "Facebook", "https://www.facebook.com/nckucourse", :target => "_blank" %></li>
			</ul>
				<ul class="nav pull-right">
				<li>
					<a href="">
						<img width=20px height=20px
					src="http://graph.facebook.com/<%="#{current_user.uid}"%>/picture">
					</a>
				</li>
				<li>
					<%= link_to "#{current_user.name}", 
					"http://www.facebook.com/#{current_user.uid}",
					:target => "_blank",
					:class => "brand" %>
				</li>
				<li><%= link_to "Sign out", signout_path, id: "sign_out" %>  </li> 
			</ul>
		</div>
	</div>
</div>