<div class="container-fluid">
	<div class="pull-right">
    <h2><%= link_to '<i class="icon-pencil icon-white"></i> 發表心得'.html_safe, new_exp_path, :class => "btn btn-primary" %></h2>
  	</div>
	<div class="page-header">
		<h2><%= @course.name %></h2>
		<h3><%= @course.teacher %></h3>    
	</div>
	<table class="table table-striped">
		<% @course.exps.each do |e| %>
			<tr>
				<td><h4><%= link_to "#{e.user.name}#{e.year}#{e.course.name}#{e.rate}",
		 "/exps/#{e.id}" %></h4></td>
			</tr>
		<% end %>
	</table>

	<%= link_to "Back", root_url %>
</div>