<div class="container-fluid">
	<div class="pull-right">
    <h2>
    	<%= link_to '<i class="icon-pencil icon-white"></i> 發表心得'.html_safe, new_exp_path, 
    	:class => "btn btn-primary" %>
  	</h2>
  </div>
	<div class="page-header">
		<h2><%= @course.name %></h2>
		<h3><%= @course.teacher %></h3>    
	</div>
	<table class="table table-striped">
		<% @course.exps.each do |e| %>
			<tr>
				<td>
					<h4>
						<%= link_to "#{e.user.name}#{e.year}#{e.course.name}#{e.rate}",
		 "/exps/#{e.id}" %>
					</h4>
				</td>
			</tr>
		<% end %>
	</table>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'nckucourse'; // required: replace example with your forum shortname

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	<%= link_to "Back", root_url %>
</div>
