<div class="container-fluid">
  <% flash.each do |name, msg| %>
  <div class="alert alert-error">
    <strong>Warning!</strong><%= content_tag :p, msg, id: "flash_#{name}" %>
  </div>
  <% end %>
  <% current_user.gender %>
  <div class="row-fluid">
    <div class="span8">
      <div class="row-fluid">
        <div class="span8">
          <h3>Courses</h3>
        </div>
        <%= form_tag :root, :method => 'get', :id => "courses_search", :class => "form-search" do %>
          <%= text_field_tag :search, 
          params[:search] ,
          :class => "navbar-search search-query pull-left hidden-phone",
          :placeholder => '搜尋課程' %>
          <%= submit_tag "Search", :name => nil, :type => "hidden" %>
        <% end %>
        <div id="courses">
          <%= render :partial =>'/course/courses' %>
        </div>
      </div>
    </div>
    <div class="span4">
      <h3>My Courses</h3>
        <%= render :partial =>'/course/my_courses' %>
    </div>
  </div>
</div>