<%= render :partial => "/course/header" %>
<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-error">
      <strong>Warning!</strong><%= content_tag :p, msg, id: "flash_#{name}" %>
    </div>
  <% end %>
  <div class="span4">
  <table class="table table-striped">
    <tr>
  		<th>SN</th>
      <th>Name</th>
      <th>Time</th>
  		<th>Add/Remove</th>
    </tr>
  <% @courses.each do |c| %>
    <tr>
  		<td><%= link_to "#{c.sn}", "show/#{c.id}" %></td>
      <td><%= link_to "#{c.name}", "show/#{c.id}" %></td>
      <td><%= c.time %></td>
  		<td>
        <% if !current_user.courses.member?(c) %>
        <!-- member:判斷user選的課是否有c -->
        <form action="add_course" method="post">
         <input type="hidden" name="id" value=<%= "'#{c.id}'" %> >
         <button type="submit" class="btn btn-success btn-mini">Add</button>
        </form>
        <% end -%>
        <% if current_user.courses.member?(c) %>
        <!-- member:判斷user選的課是否有c -->
        <form action="remove_course" method="post">
         <input type="hidden" name="id" value=<%= "'#{c.id}'" %> >
         <button type="submit" class="btn btn-danger btn-mini">remove</button>
        </form>
        <% end -%>
      </td>
    </tr>
  <% end %>
  </table>
  </div>
  <div class="span8">
    <% current_user.courses.each do |uc| %>
      <%= uc.name %>
      <%= uc.time %>
      <br>
    <% end -%>
  </div>
</div>