<%= render :partial => "/main/header" %>
<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-error">
      <strong>Warning!</strong><%= content_tag :p, msg, id: "flash_#{name}" %>
    </div>
  <% end %>
  <div class="span6">
  <h3>Courses</h3>
  <table class="table table-striped">
    <tr>
  		<th>SN</th>
      <th>Name</th>
      <th>Time</th>
  		<th>Add/Remove</th>
    </tr>
  <% @courses.each do |c| %>
    <tr>
  		<td><%= link_to "#{c.sn}", "course/#{c.id}" %></td>
      <td><%= link_to "#{c.name} #{c.users.size}" ,"course/#{c.id}" %></td>
      <td><%= c.time %></td>
  		<td>
        <% if !current_user.courses.member?(c) %>
        <!-- member:判斷user選的課是否有c -->
        <form action="add_course" method="post">
         <input type="hidden" name="id" value=<%= "'#{c.id}'" %> >
         <button type="submit" class="btn btn-success btn-mini">Add</button>
        </form>
        <% end -%>
        <% if current_user.courses.member?(c) %>
        <!-- member:判斷user選的課是否有c -->
        <form action="remove_course" method="post">
         <input type="hidden" name="id" value=<%= "'#{c.id}'" %> >
         <button type="submit" class="btn btn-danger btn-mini">remove</button>
        </form>
        <% end -%>
      </td>
    </tr>
  <% end %>
  </table>
  </div>
  <div class="span6">
    <h3>My Course</h3>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Classmate</th>
        <th>Add/Remove</th>
      </tr>
      <% @courses.each do |c| %>
        <% if current_user.courses.member?(c) %>
          <td><%= link_to "#{c.name} #{c.users.size}" ,"course/#{c.id}" %></td>
          <td><%= link_to "Look", "list/#{c.id}",:class => "btn-info btn btn-mini" %></td>
          <td>
            <!-- member:判斷user選的課是否有c -->
            <form action="remove_course" method="post">
             <input type="hidden" name="id" value=<%= "'#{c.id}'" %> >
             <button type="submit" class="btn btn-danger btn-mini">remove</button>
            </form>
          </td>
        <% end -%>
      <% end -%>
    </table>
  <div class="well">
    <p>1.選擇這學期的通識科目</p>
    <p>2.點"誰有修這門課"<p>
    <p>3.就可以看到這學期誰也有修這門科目<p>
  </div>
  </div>
</div>