<%= render :partial => "/main/header" %>
<div class="container">
<div class="row">
  <div class="span6">
    <h3>修課心得</h3>
  </div>
  <div class="span6">
    <div class="pull-right">
    <h2><%= link_to 'New Exp', new_exp_path, :class => "btn btn-primary" %></h2>
    </div>
  </div>
</div>
<table class="table table-striped">
  <tr>
    <th>作者</th>
    <th>推薦課程</th>
    <th>心得</th>
    <th>推薦程度</th>
    <th></th>
  </tr>

<% @exps.each do |exp| %>
  <tr>
    <td><img width=20px height=20px
          src="http://graph.facebook.com/<%="#{exp.user.uid}"%>/picture"><%= exp.user.name.first(10) %></td>
    <td><%= exp.course.name %></td>
    <td><%= exp.content.first(30) %>...</td>
    <td><%= exp.rate %></td>
    <td><%= link_to 'More', exp %></td>
  </tr>
<% end %>
</table>

<br />
</div>