<%= render :partial => "/main/header" %>
<div class="container">
<p id="notice"><%= notice %></p>

<h3><%= @exp.course.name %></h3>

<div class="span6">
<dl class="dl-horizontal span6">
  <dt>作者</dt>
  <dd><%= @exp.user.name %></dd>
  <dt>修課年度</dt>
  <dd><%= @exp.year %></dd>
  <dt>教材內容</dt>
  <dd><%= @exp.material %></dd>
  <dt>教學方式</dt> 
  <dd><%= @exp.style %></dd>
  <dt>心得</dt>
  <dd><%= @exp.content %></dd>
  <dt>評分方式</dt>
  <dd><%= @exp.score %></dd>
  <dt>推薦程度</dt>
  <dd><%= @exp.rate %></dd>
</dl>
<% if @exp.user.id == current_user.id %>
  <%= link_to 'Edit', edit_exp_path(@exp) %>
<% end -%>
</div>
</div>