<!DOCTYPE html>
<html>
  <head>
    <title>NCKU Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= render :partial => 'layouts/open_graph_meta_tags' %>
    
  </head>
  <body>
  <% if current_user != nil %>
    <%= render :partial => 'main/header' %>  
  <% end %>
  <%= yield %>
  <%= render :partial => 'layouts/footer_scripts' %>
  </body>
</html>
